.tableFixHead {
    overflow-y: auto;
    max-height: 60vh;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    background: white;
}

.tableFixHead tfoot th {
    position: sticky;
    bottom: 0;
    background: white;
}